.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #0077b6;
    font-size: 40px;
    font-weight: 700;
}

.underline {
    width: 60px;
    height: 5px;
    background: #0077b6;
    border-radius: 10px;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 65px;
    background: #eaeaea;
    border-radius: 6px;
    padding: 0 15px;
}

.input img {
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.input input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #333;
    font-size: 18px;
    padding-left: 10px;
}

.have-account {
    text-align: center;
    margin-top: 15px;
    color: #797979;
    font-size: 16px;
}

/*.have-account span {
    color: #478dff;
    cursor: pointer;
    font-weight: bold;
}*/

.have-account a {
    color: #478dff;
    text-decoration: none;
    font-weight: bold;
}

.have-account a:hover {
    text-decoration: underline;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    color: #fff;
    background: #478dff;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    background: #0056b3;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .input {
        width: 90%;
    }

    .submit {
        width: 80%;
    }
}
